{% extends "base.html" %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">계정생성</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>


</div>

<script>
document.getElementById('verify-button').addEventListener('click', function() {
    const email = document.getElementById('email').value;
    if (email) {
        // 인증 코드 전송 로직
        fetch('/auth/send_verification_code', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email }),
        })
        .then(response => {
            if (response.ok) {
                alert('인증 코드가 전송되었습니다. 이메일을 확인하세요.');
            } else {
                alert('인증 코드 전송에 실패했습니다.');
            }
        });
    } else {
        alert('이메일을 입력하세요.');
    }
});

document.getElementById('confirm-verification').addEventListener('click', function() {
    const code = document.getElementById('verification-code').value;
    // 코드 확인 로직
    fetch('/auth/verify_code', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ code: code }),
    })
    .then(response => {
        if (response.ok) {
            alert('인증됐습니다.');
        } else {
            alert('인증 코드가 일치하지 않습니다.');
        }
    });
});
</script>
{% endblock %}
